<p>
<b><u><font size="16" style="font-family: Arial;">Vénus</font></u></b>
<br><br>
<table style="font-family: Arial;">
	<tr>
		<td><b>Type :</b></td><td><font color="blue">Planète rocheuse</font></td>
	</tr>
	<tr>
		<td><b>Diamètre :</b></td><td><font color="red">12 103 km</font> (~ 0,949 fois la Terre)</td>
	</tr>
	<tr>
		<td><b>Masse :</b></td><td><font color="red">4,8684e+24 kg</font> (~0,815 fois la Terre)</td>
	</tr>
	<tr>
		<td><b>Distance :</b></td><td><font color="#008080">107 476 259 km</font> du Soleil (~0,72 UA*)</td>
	</tr>
	<tr>
		<td><b>Position :</b></td><td>2</td>
	</tr>
</table>
</p>
<p>
<small>UA : Unité Astronomique. 1 UA représente la distance Terre-Soleil.</small>
</p>